In [12]:
import pandas as pd
import numpy as np
import yfinance as yf
import random

dfc = pd.read_csv("Stock codes.csv",sep=",")
l = dfc.set_index('Symbol').to_dict()['Description']
df = pd.DataFrame()
lr = random.sample(list(l),100)

for i in lr:
    dftemp = yf.download(i, 
                      start='2010-01-01', 
                      end='2020-02-29', 
                      progress=False,
                     interval= '1d')
    dftemp['Stock Symbol'] = i
    dftemp['Stock name'] = l[i]
    df = df.append(dftemp)
    
df2 = df[['Stock Symbol','Close']]
df2.to_csv("main_data.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DSW: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JPM-E: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BRSS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- OFG-A: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock Symbol,Stock name
Date,,,,,,,,
2010-01-04,207.750000,216.600006,207.399994,216.600006,204.843185,70000.0,CRK,Comstock Resources
2010-01-05,215.600006,219.300003,215.300003,219.100006,207.207489,49700.0,CRK,Comstock Resources
2010-01-06,218.399994,221.149994,217.300003,218.750000,206.876465,70700.0,CRK,Comstock Resources
2010-01-07,217.300003,219.100006,213.550003,218.500000,206.640045,59000.0,CRK,Comstock Resources
2010-01-08,217.449997,220.149994,215.600006,220.000000,208.058624,37800.0,CRK,Comstock Resources

#### Writing data

In [13]:
df2 = df[['Stock Symbol','Close']]
df2.to_csv("main_data.csv")